.aside {
  width: 300px;
  height: 100%;
  line-height: 1.2;

  display: grid;
  grid-template-rows: 1fr 200px;

  overflow: hidden;
  background-color: var(--aside-bg-color);
}

.aside-streamers {
  overflow: auto;
  scrollbar-width: thin;
}

.aside-streamer {
  font-weight: 700;
  padding: 15px var(--common-horizontal-padding);
  display: grid;
  grid-template-columns: 45px auto 1fr;
  grid-template-rows: 45px;
  align-items: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.aside-streamer:hover {
  background-color: var(--additional-color-2);
  transition: all 0.3s;
}

.streamer-avatar-wrapper {
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.streamer-avatar-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.streamer-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.streamer-name:hover {
  color: var(--font-col-3);
  transition: all 0.3s;
}

.streamer-info {
  text-align: right;
  white-space: nowrap;
}

.streamer-active-label {
  display: none;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: red;
  -webkit-animation: pulse 2s linear infinite alternate both;
  animation: pulse 2s linear infinite alternate both;
}

.streamer-active-label.online {
  display: inline-block;
}

.aside-info-wrapper {
  border-top: 2px solid #fff;
  padding: 25px;
}

.aside-info {
  height: 100%;
  padding: 15px;
  text-align: center;

  background: var(--additional-color-2);
  border-radius: 5px;
}

.aside-info-title {
  font-size: var(--font-size-2);
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 15px;
}

.comminity-links {
  font-size: var(--font-size-1);
}

.comminity-link {
  margin: 0 7px;
}

.comminity-link:hover {
  color: var(--font-col-3);
  transition: all 0.3s;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1199px) {
  .aside {
    width: auto;
    grid-template-rows: 1fr;
  }

  .aside-streamer {
    grid-template-columns: 35px;
    grid-template-rows: 35px;
  }

  .streamer-name,
  .streamer-info,
  .aside-info-wrapper {
    display: none;
  }
}
