:root {
  --common-horizontal-padding: 25px;
  --aside-bg-color: #e7e7e7;
  --additional-color-4: #888787;
  --additional-color-3: #b4b4b4;
  --additional-color-2: #d6d5d5;
  --additional-color-1: #e6e6e6;
  --icon-size-2: 18px;
  --icon-size-1: 24px;
  --font-size-4: 14px;
  --font-size-3: 16px;
  --font-size-2: 18px;
  --font-size-1: 28px;
  --font-col-4: #353535;
  --font-col-3: #a239ea;
  --font-col-2: #fff;
  --font-col-1: #000;
  --main-font-family: "Noto Sans JP", sans-serif;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--font-col-2);
  background: var(--font-col-3);
}

::selection {
  color: var(--font-col-2);
  background: var(--font-col-3);
}

body {
  font-family: var(--main-font-family);
  padding-top: 67px;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: var(--additional-color-3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--additional-color-4);
}

@media (max-width: 1199px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--additional-color-3);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--additional-color-4);
  }
}

@media (max-width: 767px) {
  :root {
    --common-horizontal-padding: 10px;
    --icon-size-2: 16px;
    --icon-size-1: 22px;
    --font-size-4: 12px;
    --font-size-3: 14px;
    --font-size-2: 16px;
    --font-size-1: 26px;
  }

  body {
    padding-top: 66px;
  }
}