.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 2fr;
  -moz-column-gap: 10px;
  column-gap: 10px;

  padding: 15px var(--common-horizontal-padding);
  box-shadow: 0px 2px 5px 0px rgba(80, 51, 99, 0.15);
  z-index: 100;
}

.header-topic {
  font-size: var(--font-size-1);
  white-space: nowrap;
}

.header-topic a {
  font-weight: 700;
  margin-right: 7px;
  color: var(--font-col-3);
}

.header-topic a i {
  position: relative;
  top: -1px;
}

.header-search {
  font-size: var(--font-size-4);
  display: flex;
  justify-content: center;
}

.search-wrapper {
  display: flex;
  flex: 1 1 60%;
  justify-content: center;
  border: 1px solid var(--additional-color-2);
  border-radius: 3px;
  margin-right: 7px;
}

.search-input {
  font: inherit;
  color: var(--font-col-4);
  flex: 1 1 auto;
  width: 30px;
  padding: 5px 7px;
  margin-right: 2px;
  border: none;
}

.search-input:focus-visible {
  outline: 2px solid var(--font-col-3);
}

.search-icon-wrapper {
  font-size: var(--icon-size-2);
  padding: 8px;
  background: var(--additional-color-1);
  border-left: 1px solid var(--additional-color-2);
}

.search-icon-wrapper:hover {
  background: var(--additional-color-2);
  transition: all 0.3s;
}

.icon-wrapper {
  display: inline-block;
  font-size: var(--icon-size-1);
  color: var(--additional-color-3);
  cursor: pointer;
}

.icon-wrapper:hover {
  color: var(--additional-color-4);
  transition: all 0.3s;
}

.icon-wrapper + .icon-wrapper {
  margin-left: 20px;
}

.icon-circle {
  font-size: var(--icon-size-2);
  color: #fff;
  background: var(--font-col-3);
  border-radius: 50%;
  padding: 7px;
}

.icon-circle:hover {
  color: #000;
  background-color: var(--additional-color-1);
  transition: all 0.3s;
}

.icon-popup {
  position: relative;
}

.popup-menu {
  visibility: hidden;
  text-align: left;
  color: var(--font-col-1);
  font-size: var(--font-size-3);

  position: absolute;
  top: calc(100% + calc(5px));
  right: 0;

  background-color: #fff;
  border: 1px solid var(--additional-color-2);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px rgba(80, 51, 99, 0.2);
}

.popup-item {
  display: inline-block;
  width: 150px;
  padding: 7px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popup-item:hover {
  background-color: var(--additional-color-1);
}

.popup-item i {
  margin-right: 5px;
}

.popup-red-item {
  color: red;
}

.popup-red-item i {
  color: inherit;
}

.popup-separator {
  display: block;
  height: 1px;
  background: var(--additional-color-3);
}

.icon-popup:hover .popup-menu {
  visibility: visible;
}

.icon-popup:hover:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 200%;
  bottom: -13px;
  left: -100%;
}

.header-controls {
  text-align: right;
}

@media (max-width: 767px) {
  .header {
    -moz-column-gap: 5px;
    column-gap: 5px;
  }

  .search-input {
    padding: 3px 5px;
  }

  .icon-wrapper + .icon-wrapper {
    margin-left: 5px;
  }
}
