.main {
  height: 100%;
  display: grid;
  grid-template-rows: 75px -webkit-max-content 1fr auto;
  grid-template-rows: 75px max-content 1fr auto;
  padding: 0 var(--common-horizontal-padding);
  overflow: auto;
  scrollbar-width: thin;
}

.categories {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -moz-column-gap: 15px;
  column-gap: 15px;
  overflow-x: auto;
  scrollbar-width: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  padding: 7px 15px;
  background: var(--additional-color-2);
  border: 1px solid var(--additional-color-3);
  border-radius: 13px;
}

.category:hover {
  background: var(--additional-color-3);
  transition: all 0.3s;
}

.category:first-child {
  color: var(--font-col-2);
  background: var(--font-col-3);
}

.carousel {
  padding: 20px 80px;
  margin-bottom: 50px;
  overflow: hidden;
}

.carousel input {
  display: none;
}

.videos-carousel {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.videos-carousel .video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  grid-template-columns: 1fr minmax(100px, 30%);
  background-color: var(--aside-bg-color);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.video-info .video-slogan {
  grid-column: 1/3;
  font-size: var(--font-size-4);
  color: var(--font-col-4);
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#item-1:checked ~ .videos-carousel #video-3,
#item-2:checked ~ .videos-carousel #video-1,
#item-3:checked ~ .videos-carousel #video-5,
#item-4:checked ~ .videos-carousel #video-2,
#item-5:checked ~ .videos-carousel #video-4 {
  transform: translateX(-20%) scale(0.9);
  opacity: 0.8;
  z-index: 1;
  box-shadow: 0px 5px 8px 0px rgba(80, 51, 99, 0.35);
}

#item-1:checked ~ .videos-carousel #video-5,
#item-2:checked ~ .videos-carousel #video-3,
#item-3:checked ~ .videos-carousel #video-4,
#item-4:checked ~ .videos-carousel #video-1,
#item-5:checked ~ .videos-carousel #video-2 {
  transform: translateX(-35%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .videos-carousel #video-2,
#item-2:checked ~ .videos-carousel #video-4,
#item-3:checked ~ .videos-carousel #video-1,
#item-4:checked ~ .videos-carousel #video-5,
#item-5:checked ~ .videos-carousel #video-3 {
  transform: translatex(20%) scale(0.9);
  opacity: 0.8;
  z-index: 1;
  box-shadow: 0px 5px 8px 0px rgba(80, 51, 99, 0.35);
}

#item-1:checked ~ .videos-carousel #video-4,
#item-2:checked ~ .videos-carousel #video-5,
#item-3:checked ~ .videos-carousel #video-2,
#item-4:checked ~ .videos-carousel #video-3,
#item-5:checked ~ .videos-carousel #video-1 {
  transform: translatex(35%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .videos-carousel #video-1,
#item-2:checked ~ .videos-carousel #video-2,
#item-3:checked ~ .videos-carousel #video-3,
#item-4:checked ~ .videos-carousel #video-4,
#item-5:checked ~ .videos-carousel #video-5 {
  position: relative;
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 2;
  box-shadow: 0px 5px 8px 0px rgba(80, 51, 99, 0.55);
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  gap: 10px;
}

.video {
  line-height: 1.3;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.video-wrapper {
  position: relative;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-meta,
.video-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
}

.video-controls {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background: rgba(0, 0, 0, 0.479);
  opacity: 0;
  transition: all 0.5s;
}

.video-controls button {
  color: var(--font-col-2);
}

.video-wrapper:hover .video-controls {
  opacity: 1;
}

.video-meta {
  font-size: var(--font-size-4);
}

.video-online,
.video-viewers,
.video-duration {
  color: var(--font-col-2);
  margin: 5px 10px;
  padding: 5px 7px;
  border-radius: 5px;
  z-index: 5;
}

.video-online {
  text-transform: uppercase;
  background-color: red;
  align-self: start;
  justify-self: start;
}

.video-duration,
.video-viewers {
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.479);
  align-self: end;
  justify-self: end;
}

.video-info {
  align-self: start;
  display: grid;
  align-items: start;
  padding: 10px;
  grid-template-columns: 45px 1fr auto;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.video-channel-avatar {
  width: 100%;
  height: 45px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.video-description {
  overflow: hidden;
}

.video-title a,
.video-channel-name a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-title {
  font-size: var(--font-size-3);
}

.video-channel-name {
  font-weight: 300;
  font-size: var(--font-size-4);
  color: var(--font-col-4);
}

.video-title:hover,
.video-channel-name:hover {
  color: var(--font-col-3);
  transition: all 0.3s;
}

.footer {
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 1199px) {
  .main {
    grid-template-rows: 65px -webkit-max-content 1fr auto;
    grid-template-rows: 65px max-content 1fr auto;
  }
}

@media (max-width: 767px) {
  .videos-carousel .video {
    grid-template-columns: 1fr;
  }

  .videos {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .video-online,
  .video-viewers,
  .video-duration {
    margin: 2px 7px;
  }
}
